<h2 class="mb-3">Metadata Registered (selected fields shown)</h2>
<% @dcat.query([nil, RDF.type, RDF::URI('https://w3id.org/ftr#ScoringAlgorithm')]).subjects.uniq.each do |subject| %>
  <div class="card mb-3">
    <div class="card-header">
      <strong>Subject</strong>: <%= subject.to_s %>
    </div>
    <ul class="list-group p-2">
      <% title = @dcat.query([subject, RDF::Vocab::DC.title, nil]).first&.object&.to_s %>
      <% if title %>
        <li class="list-group-item p-2">
          <strong>Title</strong>: <%= title %>
        </li>
      <% end %>
      <% description = @dcat.query([subject, RDF::Vocab::DC.description, nil]).first&.object&.to_s %>
      <% if description %>
        <li class="list-group-item p-2">
          <strong>Description</strong>: <%= description %>
        </li>
      <% end %>
      <% abbr = @dcat.query([subject, RDF::URI('http://vivoweb.org/ontology/core#abbreviation'), nil]).first&.object&.to_s %>
      <% if abbr %>
        <li class="list-group-item p-2">
          <strong>Abbreviation</strong>: <%= abbr %>
        </li>
      <% end %>
      <% benchmark = @dcat.query([subject, RDF::URI('http://semanticscience.org/resource/SIO_000233'), nil]).first&.object&.to_s %>
      <% if benchmark %>
        <li class="list-group-item p-2">
          <strong>Benchmark</strong>: <%= benchmark %>
        </li>
      <% end %>
      <% objects = @dcat.query([subject, RDF::URI('https://w3id.org/ftr#isApplicableFor'), nil]).map { |s| s.object.to_s } %>
      <% if objects.any? %>
        <li class="list-group-item p-2">
          <strong>Objects</strong>: <%= objects.join(", ") %>
        </li>
      <% end %>
      <% domains = @dcat.query([subject, RDF::URI('https://w3id.org/ftr#applicationArea'), nil]).map { |s| s.object.to_s } %>
      <% if domains.any? %>
        <li class="list-group-item p-2">
          <strong>Domains</strong>: <%= domains.join(", ") %>
        </li>
      <% end %>
      <% tests = @dcat.query([subject, RDF::URI('https://w3id.org/ftr#invokesTest'), nil]).map { |s| s.object.to_s } %>
      <% if tests.any? %>
        <% tests.each do |t| %>
          <li class="list-group-item p-2">
            <strong>Test</strong>: <a href="<%= t.to_s %>"><%= t.to_s %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>