<% @list.each do |identifier, data| %>

<div class="form-card">
  <h2 class="mb-3">
    <a href="<%= identifier %>" class="submit-link"><%= data[0] %></a>
  </h2>
  <% if data[1] %>
    <h3 class="mb-3">
      <p class="mb-3">
        <a href="<%= data[1] %>" class="submit-link">Function Definition</a>
      </p>
    </h3>
  <% end %>

  <details class="mb-3">
    <summary>Additional Details</summary>
    <table class="table" style="width: 100%;">
      <tr>
        <th class="bg-gray-200 text-left">Identifier</th>
        <td><a href="<%= identifier %>"><%= identifier %></a></td>
      </tr>
      <% if data[1] %>
        <tr>
          <th class="bg-gray-200 text-left">Function</th>
          <td><a href="<%= data[1] %>"><%= data[1] %></a></td>
        </tr>
      <% end %>
      <tr>
        <th class="bg-gray-200 text-left">Execute</th>
        <td>
          <% id = identifier.match(/.*\/(\w+)/)[1] %>
          <form method="post" action="/champion/assess/algorithm/<%= id %>">
            GUID to Test: <input type="text" name="guid"/>
            <input type="submit" value="Execute Algorithm" class="submit-link">
          </form>
        </td>
      </tr>
    </table>
  </details>
</div>
<% end %>