<h1> TESTS </h1>

<form action="/champion/sets/" method="post">

<% found=false %>
<% @tests.each do |hash| %>
  <% found=true %>
  <% guid = hash.keys.first; value = hash[guid] %>
  <br/><input type="checkbox" name="testid[]" value="<%= guid %>"/> <b> <%= guid %> </b> (<a href="<%= value["api"] %>">API</a>): <span title="<%= value["description"] %>"> <%= value["title"] %> </span>
<% end %>
<% unless found %>
<b>NO TESTS REGISTERED</b>
<% end %>
<br/><br/>
<h3>To create a new Test Set</h3>
<p><b>Select the tests to add to a new set, and fill-in the following metadata fields:</b></p>
<br/><br/>
Title: <input type="text" name="title">
<br/>
Description: <input type="text" name="description">
<br/>
Set Author (email): <input type="text" name="email">
<br/>
<input type="submit" value="Create New Test Set"/>
</form>

